body {
    font-size: 12px;
}

#click-counter-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

#click-count {
    font-size: 1.2em;
    font-family: 'Courier New', Courier, monospace;
}


#cat-image-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

#cat-img {

}