body {
    font-size: 12px;
}

#click-counter-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

#click-count {
    font-size: 2em;
    font-family: "Comic Sans MS", cursive, sans-serif;
}


#cat-image-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

#cat-image {
    border-radius: 50%;
    object-fit: cover;
    width: 400px;
    height: 400px;
}